<form action="/user/register" method="post">

        <label>firstName :</label> <input  type="text" name="firstName"><br>
        <label>lastName :</label> <input  type="text" name="lastName"><br>
        <label>username :</label> <input  type="text" name="username"><br>

        <label>email :</label> <input  type="text" name="email"><br>
        <label>password :</label> <input  type="text" name="password"><br>
        <label>role :</label> <input  type="text" name="role"><br>
        <label>telephone :</label> <input  type="text" name="telephone"><br>
        <label>image :</label> <input  type="text" name="image"><br>

            <button type="submit">register</button>

</form>